@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

/*
    Pagination
*/

.pagination > li > a, .pagination > li > span {
    color: rgb(65, 137, 144) !important;
}


/*
    Nav Pills
*/

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: rgb(65, 137, 144);
}

/* 
    ÙStatic Sidebar and Main
*/

@media (min-width: 992px){
    .col-md-3 {
        width: 288px;
    }

    .col-md-offset-3 {
        margin-left: 288px;
    }

    .EZ-sidebar {
        position: fixed;
        background: #F7F7F6;
        display: block;
        height: 100%;
        z-index: 500;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        padding-top: 71px;
        margin-top: -90px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .EZ-inner-sidebar {
        overflow-y: auto;
        height: 100%;
        padding-top: 30px;
        padding-right: 15px;
        padding-left:15px
    }

    .EZ-main {
        background: white;
        height: 100%;
        z-index: 1000;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        padding-top: 90px;
        margin-top: -90px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 991px){
    .EZ-sidebar {
        background: white;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        margin-bottom: 20px;
    }

    .EZ-main {
        background: white;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        margin-bottom: 20px;
    }
}

.container {
    margin-top: 80px;
}

body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif ;
    background-color: #EFEFEF;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    background: url("../imgs/bg.png") no-repeat bottom center fixed #e9e9e9;
}

/*
    Cell Styling
*/

.EZ-center-table{
    margin: 0 auto !important;
    float: none !important;
}

.EZ-arab-cell {
    font-size: 20px;
    font-family: 'Droid Arabic Naskh', sans-serif;
    text-align: right;
}

.EZ-center-cell {
    padding: 0px !important;
    vertical-align: middle !important;
    text-align: center;
}

.EZ-true-cell {
color: rgb(68, 157, 68);
font-size: 18px;
}

.EZ-false-cell {
color: rgb(217, 83, 79);
font-size: 18px;
}

.EZ-center-cell {
padding: 0px !important;
vertical-align: middle !important;
text-align: center;
}

.EZ-rotate-90 {
    transform:  rotate(-90.0deg);
     -moz-transform: rotate(90.0deg);
       -o-transform: rotate(90.0deg);
  -webkit-transform: rotate(90.0deg);
}


.EZ-tabel-all-center, .EZ-tabel-all-center>tbody>tr>th, .EZ-tabel-all-center>tbody>tr>td>div {
    //padding: 0px !important;
    vertical-align: middle !important;
    text-align: center;
}

.EZ-no-border-top {
    border-top-color: transparent !important;
}

.EZ-no-border-left {
    border-left-color: transparent !important;
}
.EZ-no-border-right {
    border-right-color: transparent !important;
}

.EZ-no-border-bottom {
    border-bottom-color: transparent !important;
}

.EZ-no-border {
    border-color: transparent !important;
}

.EZ-thick-bottom-border {
    border-bottom: 2px solid #DDD !important;
}

.EZ-cell-padding-5 {
    padding: 5px;
}
/* 
    Nav Bar
*/

.navbar-default {
    background-color: #418990;
    border-color: transparent;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 3px;
        margin-left: 3px;
    }

    .container {
        margin-top: 90px;
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 200px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 200px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #418990;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle{
    background-color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.EZ-navbar-brand {
    color: white!important;
    font-size: 20px;
}

/*
    Button Default
*/

.btn-default {
    color: #FFF;
    background-color: #418990;
    /* border-color: #ccc; */
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0px;
    border-radius: 50px;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #FFF;
    background-color: rgba(82, 154, 161, 1);
    border-color: #adadad;
}

.btn-primary {
    color: #FFF;
    background-color: #418990;
    border-color: #2e6da4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgba(82, 154, 161, 1);
    border-color: #204d74;
}

/*
    Ekstras
*/

.EZ-100-width{
    width: 100%;
}

.EZ-10-margin-bottom{
    margin-bottom: 10px;
}

.EZ-10-margin-top{
    margin-top: 10px;
}

.EZ-super-size{
    font-size: 50px;
}

a {
color: rgb(65, 137, 144);
text-decoration: none;
}

.EZ-text-center{
    text-align: center;
}

.EZ-ans{
    margin: 20px;
}

.EZ-nav-title{
    position: relative;
    display: block;
    padding: 10px 15px 5px 10px;
    border-bottom: 1px solid rgb(199, 199, 199); 

}

/*
    Arab Input
*/

.EZ-input-arab {
    font-size: 25px !important;
    height: 60px !important;
    font-family: 'Droid Arabic Naskh', sans-serif;
    direction: rtl;
}

.EZ-arab-options {
    font-size: 15px !important;
    height: 40px !important;
    font-family: 'Droid Arabic Naskh', sans-serif;
    direction: rtl;
    text-align: center;
}

/*
    Main Text
*/
.EZ-main-text{
    line-height: 28px;
}


.EZ-main-text > p, .EZ-main-text > ol , .EZ-main-text > div > p, .EZ-main-text > div > ol, .EZ-main-text > div > div > p, .EZ-main-text > div > div > ol {
    font-size: 16px;
    color: #5A5A5A;
}

.EZ-arab {
    font-family: 'Droid Arabic Naskh', 'Ubuntu', sans-serif;
}


/*
    Footer
*/

footer.footer{
    border-top: 1px solid rgb(199, 199, 199); 
    padding: 5px;
        text-align: center;
}



